$body-color: #383838;

body, h1, h2, h3, h4, h5, h6 {
	color: $body-color;
	font-family: "Lato", sans-serif;
}

.w3-bar, h1, button {
	font-family: "Montserrat", sans-serif;
}

th {
	background-color: #eee;
}

th, td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}


select{
	line-height: 2;
	padding: 1%;
	min-width: 100px;
}

.code-wrapper{
	background-color: #ddd;
	height: 60px;
	padding: 2%;
}

.dogTable{
	width:100%;
}


.code{
	font-family: ubuntu mono,monospace;
	line-height: 1.8;
}

.fetchButton{
	align-items: end;
}

#dogImage{
	margin-top: 2%;
	max-width: 100%;
}
